.image-container {
            position: fixed;
            /* Ensure the container is a positioning context */
            width: 100%;
            /* Adjust as needed */
            height: 100vh;
            /* Adjust as needed */
            overflow: hidden;
            /* Hide overflowing images */
            z-index: -10;
            opacity: 10%;
}

@media screen and (orientation: portrait){
    .image-container{
        background-image: url('https://raw.githubusercontent.com/faizalkhan99/Portfolio/main/packages/images/mobileBG.png');
        width: 100%;
        height: 100%;
    }
}
@media screen and (orientation: landscape){
    .image-container{
        background-image: url('https://raw.githubusercontent.com/faizalkhan99/Portfolio/main/packages/images/desktopBG.png');
        width: 100%;
        height: 100%;
    }
}